button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.TextMessage {
  font-family: DoubleHomicide;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 230px;
  padding: 3px 8px 5px;
  margin: 5px
}

.BackgroundImage{
  background-image: url("../images/ui/textBox.png");
  image-rendering: pixelated;
}

.witchTextBox{
  background-image: url("../images/ui/witch_textBox.gif");
  image-rendering: pixelated;
}

.TextMessage_p {
  line-height: 9px;
  margin: 0;
  font-size: 9px;
}

.TextMessage span {
  opacity: 0;
}
.TextMessage span.revealed {
  opacity: 1;
}

.TextMessage_who {
  padding-bottom: 8px;
  margin: 0;
  font-size: 10px;
  color: white;
}

.TextMessage span {
  opacity: 0;
}
.TextMessage span.revealed {
  opacity: 1;
}

.TextMessage_button {
  background-image: url("../images/ui/TextMessage_button.gif");
  width: 5px;
  height: 5px;  
  padding:0;
  position: absolute;
  right: 5px;
  bottom: 5px;
}